<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta
		name="description"
		content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3"
	/>
	<title>Tesla video analyzer</title>

	<link rel="stylesheet" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../css/app.css" />
	<link rel="stylesheet" href="../../css/video.css" />
	<link
		href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
		rel="stylesheet"
	/>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>

	<!-- https://github.com/webtiming/timingsrc to sync multiple videos -->
	<script text="javascript" src="../../js/mediasync/timingsrc.js"></script>
	<script text="javascript" src="../../js/mediasync/mediasync.js"></script>
	<script text="javascript" src="../../js/mediasync/mcorp.js"></script>

	<% if (clipParams.clipType && clipParams.clipFolder) { %>
	<!-- Video controls -->
	<script src="../../js/video.js"></script>
	<!-- Preload videos -->
	<link
		rel="preload"
		as="video"
		href="/video/<%= clipParams.clipType %>/<%= clipParams.clipFolder %>/front"
	/>
	<link
		rel="preload"
		as="video"
		href="/video/<%= clipParams.clipType %>/<%= clipParams.clipFolder %>/back"
	/>
	<link
		rel="preload"
		as="video"
		href="/video/<%= clipParams.clipType %>/<%= clipParams.clipFolder %>/left_repeater"
	/>
	<link
		rel="preload"
		as="video"
		href="/video/<%= clipParams.clipType %>/<%= clipParams.clipFolder %>/right_repeater"
	/>
	<% } %>
</head>
