<!-- Menu created from sample : https://s.bootsnipp.com/iframe/Q0dAX# -->
<a id="show-sidebar" class="show-sidebar btn btn-sm btn-dark" href="#">
	<i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
	<div class="sidebar-content">
		<span class="badge badge-pill badge-danger">Alpha</span>
		<div class="sidebar-brand">
			<a href="/">TESLA VIDEO ANALYZER</a>
			<div id="close-sidebar" class="close-sidebar">
				<i class="fas fa-times"></i>
			</div>
		</div>
		<div class="sidebar-header">
			<div class="user-pic">
				<img
					class="img-responsive"
					src="../../images/tesla.png"
					alt="User picture"
				/>
			</div>
			<div class="user-info">
				<span class="user-name"><strong>Summer</strong> </span>
				<span class="user-status">
					<i class="fa fa-circle"></i>
					<span>Online</span>
				</span>
			</div>
		</div>

		<div class="sidebar-menu">
			<ul>
				<li class="header-menu">
					<a href="/import" class="p-sm-0">
						<span data-feather="download" class="feather-header"></span>
						<span>Import clips</span>
					</a>
				</li>
			</ul>
		</div>
		<% Object.keys(menuItems).forEach(function(menuItemKey) { %>
		<div class="sidebar-menu">
			<ul>
				<li class="header-menu">
					<span
						data-feather="<%= menuItems[menuItemKey].menuIcon %>"
						class="feather-header"
					></span>
					<span><%= menuItems[menuItemKey].menuTitle %></span>
				</li>
				<%
				Object.keys(menuItems[menuItemKey].items).forEach(function(dateEvent){
				%> <% let eventCount =
				menuItems[menuItemKey].items[dateEvent].events.length; %> <% let active
				= '';let display = 'd-none'; if(dateEvent==clipParams.clipDay &&
				menuItems[menuItemKey].folderName == clipParams.clipType){ active =
				'active'; display='d-block';} %>
				<li class="sidebar-dropdown <%= active %>">
					<a href="#" id="<%= dateEvent %>">
						<i class="fa fa-calendar-alt"></i>
						<span>
							<%= dateEvent %>
						</span>
						<span class="badge badge-pill badge-warning notification">
							<%= eventCount %>
						</span>
					</a>
					<div class="sidebar-submenu <%= display %>">
						<ul>
							<%
							menuItems[menuItemKey].items[dateEvent].events.forEach(function(event){
							%>
							<li>
								<% let activeEvent = ''; if(event.folderName ==
								clipParams.clipFolder) { activeEvent = 'active'; } %>
								<a
									id="<%= event.folderName %>"
									href="/event?cliptype=<%= menuItems[menuItemKey].folderName %>&clipday=<%= dateEvent %>&clipfolder=<%= event.folderName %>"
									class="<%= activeEvent %>"
								>
									<%=new Date(event.time).toLocaleTimeString() %>
								</a>
							</li>
							<% }); %>
						</ul>
					</div>
				</li>
				<% }); %>
			</ul>
		</div>
		<% });%>
		<!-- sidebar-menu  -->
	</div>
</nav>
