<div class="container-fluid" id="videoContainer">
	<h2><%= clipParams.clipFolder %></h2>
	<hr />
	<div class="row">
		<div class="form-group col-md-12">
			<div>
				<video
					id="video"
					width="50%"
					preload="metadata"
					poster="/video/<%= clipParams.clipType %>/<%= clipParams.clipFolder %>/poster.jpg"
					controls
				></video>
				<script>
					// Later on, after some condition has been met, set video source to the
					// preloaded video URL.
					video.src =
						'/video/<%= clipParams.clipType %>/<%= clipParams.clipFolder %>';
					video.play().then(_ => {
						// If preloaded video URL was already cached, playback started immediately.
					});
				</script>
			</div>
		</div>
	</div>
</div>
