<h2>
	<div class="row">
		<div class="col">
			Event <%= clipParams.clipFolder %>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-success btn-sm">
				<i class="fa fa-download" aria-hidden="true"></i>
			</button>
			<button type="button" class="btn btn-primary btn-sm">
				<i class="fa fa-microchip" aria-hidden="true"></i>
			</button>
			<button
				type="button"
				data-toggle="modal"
				data-target="#staticBackdrop"
				class="btn btn-danger btn-sm"
			>
				<i class="fa fa-trash" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</h2>
<hr />
<a name="videoAnchor"></a>
<div class="video-controls">
	<button
		id="skipbackward"
		onclick="skipVideoBackward()"
		class="btn btn-backward custombtn"
	>
		<span class="fa fa-undo"></span>
	</button>
	<button id="play" onclick="playVideo()" class="btn btn-play custombtn">
		<span class="fa fa-play"></span>
	</button>
	<button
		id="pause"
		onclick="pauseVideo()"
		style="display: none;"
		class="btn btn-pause custombtn"
	>
		<span class="fa fa-pause"></span>
	</button>
	<button
		id="skipforward"
		onclick="skipVideoForward()"
		class="btn btn-forward custombtn"
	>
		<span class="fa fa-redo"></span>
	</button>
	<button id="stop" onclick="stopVideo()" class="btn btn-stop custombtn">
		<span class="fa fa-stop"></span>
	</button>
	<button id="fullscreen" class="btn btn-fullscreen close-sidebar custombtn">
		<span class="fa fa-expand"></span>
	</button>
	<button class="btn btn-fullscreen show-sidebar custombtn">
		<span class="fa fa-compress"></span>
	</button>
	<label id="lblElapsedTime">--:--</label>
	<span>/</span>
	<label id="lblTotalTime">--:--</label>
</div>
<div class="row mt-sm-1 mb-sm-1">
	<div class="col">
		<input
			id="progressSlider"
			type="range"
			min="0"
			max="100"
			value="0"
			class="slider"
			oninput="updateSliderColor()"
		/>
	</div>
</div>
<div class="row no-gutters">
	<div class="col pr-sm-1 pb-sm-1">
		<video id="videoleftrepeater" preload="metadata"></video>
	</div>
	<div class="col pr-sm-1 pb-sm-1">
		<video
			id="videofront"
			onpause="videoPaused()"
			onplaying="videoPlaying()"
			ondurationchange="syncVideos()"
			preload="auto"
		></video>
	</div>
	<div class="col pr-sm-1 pb-sm-1">
		<video id="videorightrepeater" preload="metadata"></video>
	</div>
</div>
<div class="row no-gutters">
	<div class="col pr-sm-1 pb-sm-1"></div>
	<div class="col pr-sm-1 pb-sm-1">
		<video id="videoback" preload="metadata"></video>
	</div>
	<div class="col pr-sm-1 pb-sm-1"></div>
</div>
<!-- Modal -->
<div
	class="modal fade"
	id="staticBackdrop"
	data-backdrop="static"
	tabindex="-1"
	role="dialog"
	aria-labelledby="staticBackdropLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">
					Confirm
				</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- <div class="modal-body">
				...
			</div> -->
			<div class="modal-footer pr-sm-5 mr-sm-5">
				<button
					type="button"
					class="btn btn-danger"
					onclick="deleteEvent('<%= clipParams.clipType %>','<%= clipParams.clipFolder %>', '<%= clipParams.clipDay %>')"
				>
					<i class="fa fa-check-circle" aria-hidden="true"></i>
				</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">
					<i class="fa fa-times-circle" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	let baseVideoUrl =
		'/video/<%= clipParams.clipType %>/<%= clipParams.clipFolder %>';
	$(document).ready(function() {
		loadVideos(baseVideoUrl);
	});
</script>
